@charset "utf-8";
* {
  margin: 0;
  padding: 0;
}
.show-content-modal {
  background: #F8F8F8;
  position: absolute;
  z-index: 1000;
  width: 630px;
  height: 300px;
  border: 1px solid #888888;
  overflow-y: auto;
}
.modal_title {
  height: 30px;
  width: 80%;
  margin: 0 auto;
  border-bottom: 1px solid #888888;
  box-shadow: 0 1px 0 #D0D0D0;
  text-align: center;
  line-height: 30px;
}
.modal_content {
  width: 100%;
  list-style: none;
}
.content_ellipsis_style {
  overflow: hidden;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  /*For Opera*/
  -ms-text-overflow: ellipsis;
  /*For IE8*/
}
.modal_item {
  width: 200px;
  text-align: center;
  height: 30px;
  line-height: 30px;
  float: left;
  overflow: hidden;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  /*For Opera*/
  -ms-text-overflow: ellipsis;
  /*For IE8*/
  cursor: pointer;
  padding: 2px;
}
.modal_item:hover {
  background: #D0D0D0;
  border-radius: 5px;
  text-decoration: underline;
}
